.title-1{
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
}

.title-2{
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-2);
    line-height: var(--line-height-2);
}

.title-3{
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
}

.text-1{
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-4);
    line-height: var(--line-height-3);
}

.text-2{
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-5);
    line-height: var(--line-height-4);
}

.text-3{
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-6);
    line-height: var(--line-height-5);
}

.text-just{
    text-align: center;
    word-break: break-all;
    color: var(--color-grey-4);
}