@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Roboto:ital,wght@1,300&display=swap');


:root{

    /* Colors */
    --color-brand-1: #4c6ef5;
    --color-brand-2: #364fc7;

    --color-grey-0: #191c1f;
    --color-grey-1: #212529;
    --color-grey-2: #343a40;
    --color-grey-3: #adb5bd;
    --color-grey-4: #ced4da;
    --color-grey-5: #f8f9fa;

    /* font weight */
    --font-weight-1: 600;
    --font-weight-2: 400;

    /* font size */
    --font-size-1: 52px;
    --font-size-2: 40px;
    --font-size-3: 32px;
    --font-size-4: 28px;
    --font-size-5: 20px;
    --font-size-6: 18px;

    /* line height */
    --line-height-1: 72px;
    --line-height-1: 64px;
    --line-height-1: 44px;
    --line-height-1: 30px;
    --line-height-1: 27px;

    /* Font */
    --font-famiy-1: 'Inter', sans-serif; 
}

body{
    font-family: var(--font-famiy-1);
    color: var(--color-grey-5);
}