.skill__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    color: var(--color-grey-5);
}

.skill__title{
    margin: 50px;
}

.skill__title-span{
    color: var(--color-brand-1);
}

.skill__text{
    max-width: 50%;
    text-align: center;
    word-break: break-all;
    margin: 0 auto;
    color: var(--color-grey-4);
    margin-bottom: 20px;
}

.skill__button{
    padding: 15px;
}

.info__container, .ask__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
    position: relative;
}

.info__title{
    max-width: 60%;
}

.text__container{
    max-width: 40%;
    color: var(--color-grey-4);
}

.hero__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    bottom: 500000000000000000000000000000000000000000000000px;
}

.hero__title, .hero__text, .ask__text, .ask__title{
    margin-bottom: 20px;
}

.hero__button{
    max-width: 40%;
    padding: 20px;
}

.ask__title{
    color: var(--color-grey-5);
}

.info__container .ask__container-div{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.eval__container{
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: var(--color-grey-1);
}

.op__container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.people__container{
    display: flex;
    gap: 15px;
}

.people-perfil__span{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.people__text{
    color: var(--color-grey-4);
}

.comment__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background-color: var(--color-brand-1);
    padding: 20px;
    position: sticky;
    bottom: 0;
    height: 200px;

}

.footer__container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin: 0 auto;
    padding: 15px 75px;
    background-color: var(--color-grey-0);
}

